[submodule "akash-frontend"]
	path = akash-frontend
	url = https://github.com/Dev3-Studio/akash-frontend
[submodule "comfyui-wrapper-api"]
	path = comfyui-wrapper-api
	url = https://github.com/Dev3-Studio/comfyui-wrapper-api
[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/Dev3-Studio/ComfyUI
